script: bash ./deploy.sh
env:
  global:
    - GH_REF: git@github.com:UDOOboard/Neo-Docs.git
    - secure: "Z3kIqvG+8yPesjobzJhRpLi71fVIsGmN3MdZlDk30oR2sTXAZMRK4PjcQUoCYvTNf4IjGcaDVYw9MO+NViR9mdfztuG/CSckrIOdHjgjCVvsQHLrwStnLo7o+o97WBk2+nmJdPDHCqfwkck23xkV8KYUZAXgAQvJ9TrMuYXnUHlPKwJdlr67/poXYHpeZtJWd1618qkan3cewsuNc8p4SCqEdJEf+yywlR6cdpIpItwR7lXLbYaQ8SELr/lOKRF89Tm7jfDSl3tnOVw0uhwSOe6Eyza6gna6Gtsl788h2VNtKR7Ia1i1lyHfwIptWJqAwISr34srelp+bpZeIpMctHh7ic0BIVVfuD4GL/PMGPgmFAOgwNNGpjJYahrJvthcziZRENLzoUebXqxWTPLjSbe0MEK2Vd3pEGuVhuS+sCx0co0deTtZJBfnEzRKpLKbNB5E57r/MFgZvSzYNAcOjTUfyZK3tACVg4R7KIKSKJIPLOdJ8s17T8HeJb+ZW77OdQ729pkaDP9R46UEOu0BMV8dGOfxdAH3LwPjaml3k5xP+bDse5bbY50NWHvro7R/96tVw+T2ofKR+cfg2QRYhh+aM4s7JtK7teNFbrDe+U99I4VX1lviS2CvSBHi2jZzj57zUmJ3Qz8NtJXipU02cMvDFbm/a9SOMZxPcEehn1E="
language: php

php:
  - 5.6
  - 5.5
  - 5.4
  - 5.3
  - 5.2
  - hhvm
