.navbar {
	background-color: white;
}
.udoologo img {
	position: relative;
	top: 2px;
}
.udoologo span {
	font-size: 18px;
	color: black;
	font-weight: bold;
	position: relative;
	top: 6px;
}
.button_docs {
	font-weight: bold;
	border: 3px solid #ec009c;
	background: #ec009c;
	color: white;
	font-size: 14px;
	position: relative;
	top: 6px;
}




.label-warning {
    background-color: #f0ad4e;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-exclamation-sign:before {
    content: "\e101";
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}





article .tomorrow-comment, article pre .hljs-comment, article pre .hljs-title {
  color: #969896 !important;
}

article .tomorrow-red, article pre .hljs-variable, article pre .hljs-attribute, article pre .hljs-tag, article pre .hljs-regexp, article pre .hljs-ruby .constant, article pre .hljs-xml .tag .title, article pre .hljs-xml .pi, article pre .hljs-xml .doctype, article pre .hljs-html .doctype, article pre .hljs-css .id, article pre .hljs-css .class, article pre .hljs-css .pseudo, article pre .hljs-pseudo {
  color: #d54e53 !important;
}

article .tomorrow-orange, article pre .hljs-number, article pre .hljs-preprocessor, article pre .hljs-built_in, article pre .hljs-literal, article pre .hljs-params, article pre .hljs-constant {
  color: #e78c45 !important;
}

article .tomorrow-yellow, article pre .hljs-class, article pre .hljs-ruby .class .title, article pre .hljs-css .rules .attribute {
  color: #e7c547 !important;
}

article .tomorrow-green, article pre .hljs-string, article pre .hljs-value, article pre .hljs-inheritance, article pre .hljs-header, article pre .hljs-ruby .symbol, article pre .hljs-xml .cdata {
  color: #b9ca4a !important;
}

article .tomorrow-aqua, article pre .hljs-css .hexcolor {
  color: #70c0b1 !important;
}

article .tomorrow-blue, article pre .hljs-function, article pre .hljs-python .decorator, article pre .hljs-python .title, article pre .hljs-ruby .function .title, article pre .hljs-ruby .title .keyword, article pre .hljs-perl .sub, article pre .hljs-javascript .title, article pre .hljs-coffeescript .title {
  color: #7aa6da !important;
}

article .tomorrow-purple, article pre .hljs-keyword, article pre .hljs-javascript .function {
  color: #c397d8 !important;
}

article pre {
  display: block;
  background: black;
  border: 1px solid #ccc;
  padding: 10px;
}

article pre code.hljs {
  color: #eaeaea;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
}
